.example-card {
    max-width: 350px;
    min-width: 350px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .rating{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FFC107;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .container{
      margin-top: 15px;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
  }

  .card-header{
      min-height: 80px;
  }

  .content{
      text-overflow: ellipsis;
      overflow: hidden; 
      max-height: 100px;
  }

  .mat-select{
    display: flex;
    max-width: 200px;
    background-color: aliceblue;
    height: 50px;
  }
  .upper-container{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
  }

  .select{
      font-size: 30px;
  }


