.content-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC107;
}


.picture-display{
    background-color: red;
    justify-self: left;
    min-width: 300px;
    width: 40%;
}

img {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.review-header > span {
    margin-right: 20px;
}

.review-header{
    display: flex;
    align-items: center;
    background-color: #FFC107;
    font-size: medium;
    height: 40px;
    padding-left: 10px;
}

.review {
    border: 1px solid black;
}

.review-content {
    font-size: 20px;
    padding: 10px;
    white-space: pre-wrap;
}
