<div class="upper-container">
    <form (submit)="onSearch()" [formGroup]="form">    
      <mat-form-field class="example-form-field" appearance="fill" standalone>
        <mat-label>Search for tv shows</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">search</button>
    </form>
    <mat-paginator 
        [length]="this.totalResults" 
        [pageSize]="this.pageSize"
        [pageIndex]="this.pageIndex"
        [pageSizeOptions]="[20, 60, 100]" 
        aria-label="Select page"  
        class="paginator"               
        (page)="pageEvent = getServerData($event)">
    </mat-paginator>
</div>
<div class="container">
    <app-card-view 
      *ngFor="let serie of series" 
      type="tv"
      [id]="this.serie.id"
      [releaseDate]="this.serie.first_air_date"
      [rating]="this.serie.vote_average"
      [title]="this.serie.name == '' ? this.serie.original_name : this.serie.name"
      [imagePath]="this.serie.backdrop_path"
      [overview]="this.serie.overview"
      >
    </app-card-view>
</div>